.wrapper {
  position: relative;
  border: 1px solid var(--primary-c);
  border-radius: var(--radius);
  overflow: auto;
  min-height: 20.2rem;
  width: fit-content;
  font-size: 1.2rem;
  background-color: var(--background-c);

  &::-webkit-scrollbar {
    height: 0.6rem;
    width: 0.6rem;
    border-radius: var(--radius);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--background-c);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-c);
  }
}

.dynamic-table {
  overflow-y: scroll;
  border-radius: radius;
  border-collapse: collapse;
  width: max-content;
  height: auto;
  border: none;
  background-color: var(--background-c);
}
