.button {
  --size: 2.4rem;
  height: var(--size);
  width: auto;
  min-width: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0 1rem;
  background-color: transparent;
  color: var(--primary-c);
  border: 1px solid var(--primary-c);
  border-radius: var(--radius, 0.4rem);
  outline: 1px solid transparent;
  font-weight: bold;
  transition: all 0.1s;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    scale: 1.1;
  }

  &:active {
    translate: 0 0;
    scale: 1;
  }

  &:focus {
    outline: 1px solid var(--focus-c, pink);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.icon {
    padding: 0;

    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
